<head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
</head>

<body>
	<div id='container'>
		<h1>Mixer Menu</h1>	

		
		<form action="/process" method="POST" class='create-drink' id='create-drink'>
		<div id='inner'>
			<div id='ginTonic'> 
				<div id='shade'>
					<h3 id="label">Gin and Tonic</h3>
				</div>
			</div>
			<div id='romCoke' name='romCoke'>
				<div id='shade'>
					<h3 id="label">Rom and Coke</h3>
				</div>
			</div>
			<div id='vodkaFanta'>
				<div id='shade'>
					<h3 id="label">Vodka and Fanta</h3>
				</div>
			</div>
<!-- 			<div id='tequila'>
				<div id='shade'>
					<h3 id='label'>Tequila</h3>
				</div>
			</div>
			<div id='icedtea'>
				<div id='shade'>
					<h3 id='label'>Long Island Iced Tea</h3>
				</div>
			</div> -->
				<div>
					<br>
					<h2>Select a size</h2>
					<br>
					<div class="btn-group" role="group" aria-label="...">
						<button type="button" id="40" class="btn btn-danger">40ml</button>
						<button type="button" id="200" class="btn btn-danger">200ml</button>
						<button type="button" id="400" class="btn btn-danger">400ml</button>
					</div>

					<br><br><br>
					
					<input type='submit' id="mix" class="btn btn btn-danger" value="MIX" disabled>

					<br>
				</div>

				<input type="hidden" id="drink-name" name="name">
				<input type="hidden" id="drink-size" name="size">
			</form>


			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<!-- Include all compiled plugins (below), or include individual files as needed -->
			<script src="/static/js/bootstrap.min.js"></script>
			<script src="/static/js/logic.js"></script>
		</body>